body {
    background: #002b36;
    color: #839496;
    font-size: 16px;
}

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: 0 solid #fff;
}

.fixed
{
    border-width: 0px;
    font-family: "Deja Vu Sans Mono", Consolas, monospace;
    padding: 0px;
    white-space: pre;
}

.graybox
{
    padding: 2px;
    height: 30px;
    vertical-align: middle;
}

.colorPicker
{
    padding: 2px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

.ls
{
    font-family: "Deja Vu Sans Mono", Consolas, monospace;
    font-weight: normal;
    white-space: pre;
}

#cursor
{
    font-family: "Deja Vu Sans Mono", Consolas, monospace;
    white-space: pre;
}
